<xml>
	 <color bgcolor="white" color="black">
		<pos pos="1,1">
			I am text.
		</pos>
	</color>
	<color2  bgcolor="white" color="black">
		<pos2 pos="1,2">
			I am differently coloured text.
		</pos2>
	</color2>
</xml>
